:root {
    --color-main: #600E0E;
    --color-mona: #E56FAA;
    --color-miu: #EFF2FB;
    /* --color-rinka: #652C78; */
    --color-rinka: #a54cc3;
    --color-hisui: #009E4A;
    --color-moka: #00CCF9;
}

@font-face {
    font-family: "PixelMplus12 Regular";
    src: url("/static/font/PixelMplus12-Regular.ttf") format("truetype")
}

* {
    font-family: "PixelMplus12 Regular", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



svg {
    fill: #CFDFE6;
    height: 100px;
    width: 100px;
}

.list-svg {
    display: inline-block;
    fill: #CFDFE6;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.hr-no-margin {
    margin: 0;
}

img:not([class]) {
    max-height: 45vh;
    margin: 0 auto;
}

.protected-img {
    pointer-events: none;
}

.anchor-list a:link,
.anchor-list a:visited {
    color: #FFFFFF;
}


/* ##############################
footer
############################## */

.footer-link {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem 1rem;

    margin: 0 20px 10px 20px;
    padding: 10px;
    border: 1px solid #555555;
    font-size: 0.8rem;
}

.footer-link a {
    display: block;
}

.footer-link a:link,
.footer-link a:visited {
    color: #aaaaaa;
}

/* ##############################
local
############################## */

.local {
    border: solid 1px #ff0000;
}

.local img, .local video {
    @media screen and (min-width: 767px) {
        max-width: 60%;
        margin: 0 auto;
    }
}

.local-link-a {
    display: block;
    background-color: #CFDFE6;
    color: #050406;
    padding: 5px;
    text-decoration: none;
    width: 15vw;
    margin-left: auto;
    margin-left: auto;
    max-width: 150px;
    text-align: center;
    font-size: 14px;
}

.local-link-a:hover {
    animation: hover 0.1s linear forwards;
    background-color: #050406;
    color: #fff;
}

/* ##############################
twitter
############################## */

.tweet-container>div {
    margin: 0 auto;
    /* 中央 */
}

a.twitter-tweet-data {
    display: block;
    min-height: 55vh;
}

/* ##############################
youtube
############################## */

.yt-shorts-container iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    height: 100vh;
    max-height: 80vh;
    aspect-ratio: 9 / 16;
}

/* ##############################
link btn
############################## */

.link-btn-div {
    margin: 3% 2% 1% 2%;
}

.link-btn-a {
    display: block;
    background-color: #CFDFE6;
    color: #050406;
    border: 1px solid #595959;
    padding: 5px;
    text-decoration: none;
    width: 15vw;
    margin-left: auto;
    margin-left: auto;
    max-width: 150px;
    text-align: center;
    font-size: 14px;
}

.link-btn-a:hover {
    animation: hover 0.1s linear forwards;
    background-color: #050406;
    color: #fff;
}

/* ##############################
official link
############################## */

.official-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 2% 2%;
}

.official-link li {
    list-style: none;
}

.official-link li::after {
    /* 各liの直後にスラッシュを表示 */
    content: "/";
    color: #aaaaaa;
    margin-left: 2px;
    margin-right: 4px;
}

.official-link li:last-child::after {
    /* 最後のliのスラッシュを非表示にする */
    content: "";
}

.official-link .official-a {
    color: #CFDFE6;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.official-link .official-a svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

#official-link .official-a svg {
    fill: #CFDFE6;
}

.official-a:hover {
    color: #83a3de !important;
    transition: 0.2s;
}

.mona-link *,
.mona-link *::after {
    color: var(--color-mona) !important;
    fill: var(--color-mona);
}

.miu-link *,
.miu-link *::after {
    color: var(--color-miu) !important;
    fill: var(--color-miu);
}

.rinka-link *,
.rinka-link *::after {
    color: var(--color-rinka) !important;
    fill: var(--color-rinka);
}

.hisui-link *,
.hisui-link *::after {
    color: var(--color-hisui) !important;
    fill: var(--color-hisui);
}

.moka-link *,
.moka-link *::after {
    color: var(--color-moka) !important;
    fill: var(--color-moka);
}


/* ##############################
list 
############################## */

.link-list,
.notice-list {
    margin: 0 2% 1% 2%;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /*IE,edge*/
    scrollbar-width: none;
    /*Firefox*/
}

.link-list::-webkit-scrollbar {
    display: none;
    /*Chrome,Safari*/
}

.link-list li,
.notice-list li {
    list-style: none;
    border-bottom: solid 1px #ffffff;
    padding: 1%;
}

/* .link-list li:last-child {
    border-bottom: none;
} */

.link-list li:hover {
    background-color: #ffffff33;
    animation: hover 0.1s linear forwards;
    transition: 0.2s;

}

.link-list svg,
.notice-list svg {
    fill: #CFDFE6;
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

.link-list .media {
    text-align: right;
}

.list-loading {
    font-size: 1.2rem;
    text-align: center;
    margin: 4% 0 2% 0;
}

.list-loading svg {
    fill: #CFDFE6;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.link-list-a {
    color: #ffffff;
    text-decoration: none;
}

.link-list-a:hover {
    text-decoration: none;
}

@keyframes hover {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    25% {
        opacity: 0.7;
        transform: scaleX(1.3);
    }

    50% {
        opacity: 1;
        transform: scaleX(1.1);
    }

    75% {
        opacity: 0.5;
        transform: scaleX(1.4);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

/* ##############################
butterfly list
############################## */

.butterfly-list {
    list-style-type: none;
    padding-left: 15px;
}

.butterfly-list li {
    position: relative;
}

.butterfly-list li p {
    margin-left: 30px;
}

.butterfly-list li svg {
    fill: #CFDFE6;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* ##############################
notice
############################## */

.notice-div svg {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

/* ##############################
filter
############################## */

.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.filter-toggle {
    padding: 4px 10px;
    border: 1px solid #757575;
    border-radius: 5px;
    background-color: #391515;
    /* OFF */
    color: #999999;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.filter-toggle.active {
    background-color: rgb(137, 12, 12);
    /* ON */
    border-color: #e8e8e8;
    color: #ffffff;
}

#apply-filters,
#reset-filters {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #7f7f7f;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#reset-filters {
    padding: 4px 10px;
    margin-left: 10px;
}

#apply-filters:hover,
#reset-filters:hover {
    background-color: #9a9a9a;
    transform: scale(1.05);
}

#apply-filters:active,
#reset-filters:active {
    transform: scale(0.95);
}

/* ##############################
page
############################## */

.page-radio {
    display: none;
}

.page-radio-label {
    display: inline-block;
    width: 15%;
    background-color: rgba(50, 50, 50, 0.9);
    border: 1px solid #aaaaaa;
    text-align: center;
}

.pages-block {
    display: flex;
    justify-content: center;
}

.pages-range {
    text-align: center;
    margin: 0 0 5px 0;
}

.page-radio-label.selected-page {
    background-color: rgba(150, 150, 150, 0.9);
}

/* ##############################
phanart
############################## */


.phanart-link-block {
    position: relative;
    overflow: hidden;
    height: 30vh;
    animation: none;

    @media screen and (min-width: 767px) {
        height: 40vh;
    }
}

.phanart-slider-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    overflow: hidden;
    align-items: center;
    filter: brightness(0.5);
}

.phanart-slider {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

.phanart-link-img {
    max-width: none;
    height: 30vh;

    @media screen and (min-width: 767px) {
        height: 40vh;
    }
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.phanart-artist-block {
    position: relative;
    aspect-ratio: 1.618 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    animation: none;
}

.phanart-artist-block:hover {
    background-color: #ffffff00 !important;
}

.phanart-artist-block h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.phanart-artist-block:hover h3 {
    display: none;
}

.phanart-artist-block .phanart-artist-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: sepia(50%) brightness(0.5) saturate(50%) contrast(90%);
}

.phanart-artist-block:hover .phanart-artist-cover {
    filter: none
}

.phanart-artist-block::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff99;
    mix-blend-mode: screen;
    top: 0;
    left: 0;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
    opacity: 0.3;
    z-index: 2;
}

.phanart-artist-block:hover:before {
    transform: scale(1, 1);
    transform-origin: left top;
    pointer-events: none;
}

.phanart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.phanart-container>div {
    position: relative;
    width: calc((100% - 10px) / 2);
    aspect-ratio: 1/1;

    @media screen and (min-width: 767px) {
        width: calc((100% - 20px) / 3);
    }
}

.phanart-container>div>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}


/* ##############################
donation
############################## */

.donation-block {
    display: flex;
}

.donation-text {
    margin-top: 20px;
    text-align: center;
}

.donation-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    border: #ffffff 2px solid;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
}

.donation-button:hover {
    animation: hover 0.1s linear forwards;
    color: #050406;
    background-color: #ffffff;
}

.donation-button svg {
    fill: #CFDFE6;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: text-top;
}

.donation-button:hover svg {
    fill: #050406;

}
